
			
			#window {
				margin-top: 0px;
				padding-left: 10px;
				padding-right: 10px;
				border-radius: 10px;
				transition: all 0.3s linear;
			  color: @peach;
				background: @base;
			}

			#workspaces {
				margin-top: 6px;
				margin-left: 12px;
				font-size: 4px;
				margin-bottom: 0px;
				border-radius: 10px;
				background: @base;
				transition: none;
			}
			
			#workspaces button {
				transition: none;
				color: #B5E8E0;
				background: transparent;
				font-size: 16px;
				border-radius: 2px;
			}
			
			#workspaces button.occupied {
				transition: none;
				color: #F28FAD;
				background: transparent;
				font-size: 4px;
			}
			
			#workspaces button.active {
				color: @teal;
			  	border-top: 0px solid #ABE9B3;
			  	border-bottom: 0px solid #ABE9B3;
			}
			
			#workspaces button:hover {
				transition: none;
				box-shadow: inherit;
				text-shadow: inherit;
				color: @yellow;
				border-color: #E8A2AF;
				color: #E8A2AF;
			}
			
			#workspaces button.active:hover {
				color: #E8A2AF;
			}
			
			#network {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				padding-right: 18px;
				margin-bottom: 0px;
				border-radius: 10px;
				transition: none;
				color: #161320;
				background: @base;
			}
			
			#pulseaudio {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}
			
			#battery {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}
			
			@keyframes blink {
				to {
			  	background-color: @base;
			    color: @peach;
			  }
			}
			
			#mpris {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}
			#clock {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
				/*background: #1A1826;*/
			}

			#memory {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				margin-bottom: 0px;
				padding-right: 10px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}
			
			#cpu {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				margin-bottom: 0px;
				padding-right: 10px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}
			
			#tray {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				margin-bottom: 0px;
				padding-right: 10px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}
			
			#tray.empty {
				margin-top: 0px;
				margin-left: 0px;
				padding-left: 0px;
				margin-bottom: 0px;
				padding-right: 0px;
				border-radius: 0px;
				transition: none;
				color: transparent;
				background: transparent;
			}
			
			#custom-launcher {
				font-size: 24px;
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				padding-right: 5px;
				border-radius: 10px;
				transition: none;
			  color: @teal;
			  background: @base;
			}
			
			#custom-power {
				font-size: 20px;
				margin-top: 6px;
				margin-left: 8px;
				margin-right: 8px;
				padding-left: 10px;
				padding-right: 5px;
				margin-bottom: 0px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}

			#custom-wallpaper {
				margin-top: 6px;
				margin-left: 8px;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 0px;
				border-radius: 10px;
				transition: none;
				color: @peach;
				background: @base;
			}
